.Button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    color: inherit;
    background: none;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;

    @include media-mobile {
        gap: 3px;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    // BTN SIZE
    &.s {
        font: var(--font-s);
    }

    &.m {
        font: var(--font-m);
    }

    &.l {
        font: var(--font-l);
    }

    // STYLE
    &.clear {
        background: none;
        padding: 0;
        border: 2px solid transparent;
    }

    &.rounded {
        background-color: var(--primary-color);
        color: #ffffff;
        border: 2px solid transparent;
        border-radius: 6px;
    }

    &.square {
        color: #ffffff;
        background-color: var(--primary-color);
        border: 2px solid transparent;
        border-radius: 0;
    }

    &.outline-rounded {
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 5px;
    }

    &.outline-square {
        color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 0;
    }
}
