.MainNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: fit-content;
    list-style: none;

    @include media-laptop {
        gap: 10px;
    }

    li {
        position: relative;

        .nav_item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            cursor: pointer;

            @include media-mobile {
                padding: 0;
            }
        }

        .active {
            color: var(--primary-color);
        }

        .cart_counter {
            position: absolute;
            top: -2px;
            right: -9px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 22px;
            width: 22px;
            color: #ffffff;
            font-size: 11px;
            background: var(--primary-color);
            border: 3px solid #ffffff;
            border-radius: 50px;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    svg > path {
        stroke: var(--font-color);
    }
}
