.theme_dark,
[data-theme="dark"] {
    --primary-color: #f60;
    --secondary-color: #817e7b;
    --font-color: #f2f2f2;
    --inverted-font-color: #4d4d4d;
    --bg-color: #4d4d4d;
    --inverted-bg-color: #fff;
    --bg-secondary-color: #3a3a3a;
    --inverted-bg-secondary-color: #f2f2f2;
}
