.About {
	border-top: 1px solid var(--secondary-color);
	margin-top: 15px;
	padding: 25px 0;

	.about_title {
		font-size: 24px;
	}

	.about_list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;
	}

	.about_item {
		display: flex;
		justify-content: space-between;
		text-transform: capitalize;
		font-size: 18px;
	}

	.title {
		color: var(--secondary-color);
	}

	.divider {
		width: 100%;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 13px;
			left: 20px;
			right: 20px;
			height: 1px;
			background: repeating-linear-gradient(
				to right,
				var(--secondary-color),
				var(--secondary-color) 10px,
				transparent 10px,
				transparent 25px
			);
		}
	}

	.value {
		white-space: nowrap;
	}
}
