.Navbar {
    text-transform: capitalize;
    font-size: var(--font-size-s);
    box-shadow: -1px 0 7px 0 #0000001c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.top_header,
.bottom_header {
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        max-width: var(--main-container-width);
        width: 100%;
    }
}

.top_header {
    background-color: var(--bg-secondary-color);
    padding: 5px 30px;
}

.bottom_header {
    background-color: var(--bg-color);
    padding: 12px 30px;
}

.logo {
    display: flex;
    gap: 15px;
}

.logo_title {
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
}

.info_nav {
    margin-right: 30px;
}

.work_time,
.extra_navigation,
.extra_items {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
}

.extra_items {
    gap: 30px;
}

.search_and_nav {
    display: flex;
    justify-content: end;
    width: 100%;
}
