.GridLayout {
    display: grid;
    gap: 16px 14px;

    @include respond-between($bp-mobile-from, $bp-tablet-to) {
        gap: 10px;
    }

    &.col-3 {
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
        grid-auto-rows: minmax(325px, 1fr);
    }

    &.col-4 {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        grid-auto-rows: 240px;
    }
}

@include media-mobile {
    .GridLayout {
        &.col-3,
        &.col-4 {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-auto-rows: minmax(180px, auto);
            gap: 10px;
        }
    }
}
